@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

body {
  @apply bg-slate-900 text-textPrimary;
  min-height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #8892b096;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
